<div class="row">
    <!-- Column -->
   <!--  <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round round-lg align-self-center round-info"><i class="ti-wallet"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0 font-light">$3249</h3>
                        <h5 class="text-muted m-b-0">Total Revenue </h5>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Column -->
    <div id="embed-api-auth-container" ></div>
    <div id="chart-container"></div>
    <div id="view-selector-container"></div>
</div>