<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav active">
            <ul id="sidebarnav" class="in">
                <!-- user -->
                <li>
                    <a class="has-arrow" aria-expanded="false">
                        <span class="hide-menu">
                            <i class="mdi mdi-account"></i>Người dùng
                        </span>
                    </a>
                    <ul aria-expanded="true" class="collapse in">
                        <li><a href="{{UrlHost}}{{urlfor "UserController.List"}}"><i class="mdi mdi-format-list-bulleted"></i>
                                Danh sách</a></li>
                        <li><a href="{{UrlHost}}{{urlfor "UserController.Add"}}"><i class="mdi mdi-account-multiple-plus"></i>
                                Thêm</a></li>
                    </ul>
                </li>
                <!-- category -->
                <!-- <li>
                    <a class="has-arrow " aria-expanded="false"><i class="mdi mdi-view-module"></i><span class="hide-menu">Danh
                            mục menu</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{{urlfor "MenuController.List"}}"><i class="mdi mdi-format-list-bulleted"></i>
                                Danh sách</a></li>
                        <li><a href="{{urlfor "MenuController.Add"}}"><i class="mdi mdi-playlist-plus"></i>
                                Thêm</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow " aria-expanded="false"><i class="mdi mdi-view-module"></i><span class="hide-menu">Danh
                            mục sản phẩm</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{{urlfor "CategoryController.List"}}"><i class="mdi mdi-format-list-bulleted"></i>
                                Danh sách</a></li>
                        <li><a href="{{urlfor "CategoryController.Add"}}"><i class="mdi mdi-playlist-plus"></i>
                                Thêm</a></li>
                    </ul>
                </li> -->

                <!-- category -->
                <li>
                    <a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-view-module"></i><span class="hide-menu">Danh mục</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <!-- category menu -->
                        <li>
                            <a class="has-arrow " aria-expanded="false"><i class="mdi mdi-menu"> </i><span class="hide-menu">Menu</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{UrlHost}}{{urlfor "MenuController.List"}}"><i class="mdi mdi-format-list-bulleted"></i>
                                        Danh sách</a></li>
                                <li><a href="{{UrlHost}}{{urlfor "MenuController.Add"}}"><i class="mdi mdi-playlist-plus"></i>
                                        Thêm</a></li>
                            </ul>
                        </li>
                        <!-- category product -->
                        <li>
                            <a class="has-arrow " aria-expanded="false"><i class="mdi mdi-shopping"> </i><span class="hide-menu">Sản phẩm</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{UrlHost}}{{urlfor "CategoryController.List"}}"><i class="mdi mdi-format-list-bulleted"></i>
                                        Danh sách</a></li>
                                <li><a href="{{UrlHost}}{{urlfor "CategoryController.Add"}}"><i class="mdi mdi-playlist-plus"></i>
                                        Thêm</a></li>
                            </ul>
                        </li>
                        <!-- category new -->
                        <li>
                            <a class="has-arrow " aria-expanded="false"><i class="mdi mdi-note-text"> </i><span class="hide-menu">Bài viết</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{UrlHost}}{{urlfor "CatenewController.List"}}"><i class="mdi mdi-format-list-bulleted"></i>
                                        Danh sách</a></li>
                                <li><a href="{{UrlHost}}{{urlfor "CatenewController.Add"}}"><i class="mdi mdi-playlist-plus"></i>
                                        Thêm</a></li>
                            </ul>
                        </li>
                        <!-- category image -->
                        <li>
                            <a class="has-arrow " aria-expanded="false"><i class="mdi mdi-folder-multiple-image"> </i><span class="hide-menu">Hình ảnh</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{{UrlHost}}{{urlfor "CateimageController.List"}}"><i class="mdi mdi-format-list-bulleted"></i>
                                        Danh sách</a></li>
                                <li><a href="{{UrlHost}}{{urlfor "CateimageController.Add"}}"><i class="mdi mdi-playlist-plus"></i>
                                        Thêm</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- product -->
                <li>
                    <a class="has-arrow" aria-expanded="false">
                        <span class="hide-menu">
                            <i class="mdi mdi-shopping"></i>Sản phẩm
                        </span>
                    </a>
                    <ul aria-expanded="true" class="collapse in">
                        <li><a href="{{UrlHost}}{{urlfor "ProductController.List"}}"><i class="mdi mdi-format-list-bulleted"></i>
                                Danh sách</a></li>
                        <li><a href="{{UrlHost}}{{urlfor "ProductController.Add"}}"><i class="mdi mdi-plus-circle"></i>
                                Thêm</a></li>
                    </ul>
                </li>
                <!-- post -->
                <li>
                    <a class="has-arrow" aria-expanded="false">
                        <span class="hide-menu">
                            <i class="mdi mdi-note-text"></i>Bài viết
                        </span>
                    </a>
                    <ul aria-expanded="true" class="collapse in">
                        <li><a href="{{UrlHost}}{{urlfor "PostController.List"}}"><i class="mdi mdi-format-list-bulleted"></i>
                                Danh sách</a></li>
                        <li><a href="{{UrlHost}}{{urlfor "PostController.Add"}}"><i class="mdi mdi-note-plus"></i>
                                Thêm</a></li>
                    </ul>
                <!-- images -->
                <li>
                    <a class="has-arrow" aria-expanded="false">
                        <span class="hide-menu">
                            <i class="mdi mdi-folder-image"></i>Hình ảnh
                        </span>
                    </a>
                    <ul aria-expanded="true" class="collapse in">
                        <li><a href="{{UrlHost}}{{urlfor "ImageController.List"}}"><i class="mdi mdi-folder-multiple-image"></i>
                                Danh sách</a></li>
                        <li><a href="{{UrlHost}}{{urlfor "ImageController.Add"}}"><i class="mdi mdi-folder-plus"></i>
                                Thêm</a></li>
                    </ul>
                </li>
                <!-- setting -->
                <li>
                    <a class="has-arrow" aria-expanded="false">
                        <span class="hide-menu">
                            <i class="mdi mdi-settings"></i>Cấu hình
                        </span>
                    </a>
                    <ul aria-expanded="true" class="collapse in">
                        <li>
                            <a href="{{UrlHost}}{{urlfor "SettingController.Edit"}}"><i class="mdi mdi-settings-box"></i>
                            Tùy chỉnh</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>