<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav active">
            <ul id="sidebarnav" class="in">
                <li class="">
                    <a class="has-arrow" href="#" aria-expanded="false">
                        <span class="hide-menu">
                                <i class="mdi mdi-account"></i>Người dùng
                        </span>
                    </a>
                    <ul aria-expanded="true" class="collapse in">
                        <li><a href="{{urlfor "UserController.List"}}"><i class="mdi mdi-format-list-bulleted"></i> Danh sách</a></li>
                        <li><a href="{{urlfor "UserController.Add"}}"><i class="mdi mdi-account-multiple-plus"></i> Thêm</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>