<div class="row">
    <div class="col-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Sửa hình ảnh</h4>
            </div>
            <div class="card-body">
                <form novalidate="" method="POST" action="" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>Thứ tự</label>
                                <div class="controls">
                                    <input type="number" name="Sort" class="form-control" min="0" 
                                        value={{.data.Sort}}>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" id="">
                            <div class="form-group">
                                <label>Danh mục hình ảnh</label>
                                <div class="controls">
                                    <select name="CateID" id="select" class="form-control" aria-invalid="false"
                                        data-validation-required-message="Không được để trống">
                                        <option value="0">Chọn danh mục hình ảnh</option>
                                        {{range $cate := .cates}}
                                            <option value="{{$cate.Id}}" {{if eq $cate.Id $.data.CateID}} selected {{end}}>{{$cate.TitleVN}}</option>
                                        {{end }}
                                    </select>
                                    <div class="help-block"></div>
                                    {{if .errMsg}} <small class="has-danger form-control-label" style="color: red;">{{ map_get .errMsg "CateID"}} </small> {{end}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Chọn một hình </label>
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput">
                                        <i class="fa fa-file fileinput-exists"></i>
                                        <span class="fileinput-filename"></span>
                                    </div>
                                    <span class="input-group-addon btn btn-secondary btn-file">
                                        <span class="fileinput-new">Chọn</span>
                                        <span class="fileinput-exists">Thay đổi</span>
                                        <input type="hidden"><input type="file" name="Images">
                                    </span>
                                    <a href="#" class="input-group-addon btn btn-secondary fileinput-exists" data-dismiss="fileinput">Xóa</a>
                                </div>
                            </div>
                        </div>
                        {{if .data.Images}}
                        <div class="col-md-3" id="">
                            <div class="form-group">
                                <h5>Hình đã có</h5>
                                <img src="{{UrlHost}}/static/img/image/{{.data.Images}}" alt="" class="img-fluid rounded" width="100px">
                            </div>
                            <input type="hidden" name="image_old" value="{{.data.Images}}">
                        </div>
                        {{end}}
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Sửa</button>
                        <button type="reset" class="btn btn-inverse">Hủy</button>
                    </div>
                    <input type="hidden" name="_xsrf" id="_xsrf" value="{{.xsrf_token}}">
                    <input type="hidden" name="id" id="id" value="{{.data.Id}}">
                </form>
            </div>
        </div>
    </div>
</div>
