<footer id="colophon" class="site-footer" role="contentinfo">

    <div id="ceres-social">
        <a href="https://www.facebook.com/CeresOrganicsNZ/" target="_blank">
            <i class="fab fa-facebook" style="font-size: 48px;"></i>
        </a>
        <a href="https://instagram.com/ceresorganics/" target="_blank">
            <div class="icon-instagram-i"></div>
        </a>
        <a href="https://www.pinterest.com/ceresorganics/" target="_blank">
            <div class="icon-pinterest-i"></div>
        </a>
        <a href="https://twitter.com/CeresOrganics?lang=en" target="_blank">
            <div class="icon-twitter-i"></div>
        </a>
    </div>

    <div class="footer-nav">
        <div class="menu-header-container">
            <ul id="footer-menu" class="menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-17"><a
                        href="https://www.ceres.co.nz/about-organics/">About</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-270"><a
                                href="https://www.ceres.co.nz/our-story/">Our story</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-274"><a
                                href="https://www.ceres.co.nz/our-mission-vision/">Mission &#038; Vision</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-277"><a
                                href="https://www.ceres.co.nz/our-organic-certification/">Our Organic
                                Certification</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-280"><a
                                href="https://www.ceres.co.nz/ge-free/">Our GE Free Policy</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-283"><a
                                href="https://www.ceres.co.nz/our-sourcing-philosophy/">Our Sourcing Philosophy</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3511"><a
                                href="https://www.ceres.co.nz/ceres-gives-back/">Ceres Gives Back</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-289"><a
                                href="https://www.ceres.co.nz/about-food-allergies/">Food Allergies</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296"><a
                                href="https://www.ceres.co.nz/our-new-location/">Our Green Home</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-299"><a
                                href="https://www.ceres.co.nz/disclaimer/">Disclaimer</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-345"><a>Products</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3082"><a
                                href="https://www.ceres.co.nz/products/grocery/ceres-organics/">Ceres Organics</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-product-categories menu-item-3386"><a
                                href="https://www.ceres.co.nz/products/grocery/">GROCERY</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5233"><a
                                href="https://www.ceres.co.nz/products/health-and-beauty/natracare-health-and-beauty/">Natracare</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-400"><a
                                href="/ingredients/">Bulk Ingredients</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-343"><a
                        href="/recipes/">Recipes</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-recipe-categories menu-item-344"><a
                                href="https://www.ceres.co.nz/recipes/breakfast/">Breakfast</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-recipe-categories menu-item-2283"><a
                                href="https://www.ceres.co.nz/recipes/cake-cookies-muffins/">Sweet Treats</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-recipe-categories menu-item-2483"><a
                                href="https://www.ceres.co.nz/recipes/juices-smoothies/">Juices + Smoothies</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-recipe-categories menu-item-2485"><a
                                href="https://www.ceres.co.nz/recipes/mains/">Mains</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-recipe-categories menu-item-2484"><a
                                href="https://www.ceres.co.nz/recipes/raw-un-baking/">Raw Un-Baking</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-recipe-categories menu-item-2487"><a
                                href="https://www.ceres.co.nz/recipes/salads-dressings/">Salads + Dressings</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-recipe-categories menu-item-2489"><a
                                href="https://www.ceres.co.nz/recipes/soups/">Soups</a></li>
                        <li class="menu-item menu-item-type-taxonomy menu-item-object-recipe-categories menu-item-2488"><a
                                href="https://www.ceres.co.nz/recipes/snacks/">Snacks</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18"><a href="https://www.ceres.co.nz/blog/">Blog</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19"><a
                        href="https://www.ceres.co.nz/contact-ceres-organics/">Contact</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-300"><a
                                href="https://www.ceres.co.nz/contact-ceres-organics/">Ceres Organics</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6845"><a
                                href="https://careers.ceresorganics.com/">careers</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-311"><a
                                href="https://www.ceres.co.nz/faq/">Frequently Asked Questions</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-290"><a>Shop</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2898"><a
                                href="https://shop.ceres.co.nz/">online store</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-305"><a
                                href="https://www.ceres.co.nz/locations/">Our Stores</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4973"><a
                                href="https://www.ceres.co.nz/stockists/">Stockists</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2799"><a
                                href="https://portal.ceres.co.nz/Auth?ReturnUrl=%2F">Trade Portal</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="site-info">
        <!-- <a href="https://wordpress.org/">Proudly powered by WordPress</a> -->

        &copy; CERES ORGANICS 2018 <span class="sep"> | </span>
        <a href="/privacy-policy/">PRIVACY</a>
        <span class="sep"> | </span>
        <a href="/legal-notice/">LEGAL</a>
        <span class="sep"> | </span>
        <a href="/terms-and-conditions/">TERMS&nbsp;&amp;&nbsp;CONDITIONS</a>

        <!-- Theme: ceres-organics by <a href="http://twentyfour.cc" rel="designer">twentyfour.cc</a>. -->
    </div><!-- .site-info -->
</footer><!-- #colophon -->