<footer id="colophon" class="site-footer" role="contentinfo">

    <div id="ceres-social">
        {{if .setting.Fanpage }}
        <a href="{{.setting.Fanpage}}" target="_blank">
            <i class="fab fa-facebook" style="font-size: 48px;"></i>
        </a>
        {{end}}
        {{if .setting.Zalo }}
        <a href="{{.setting.Zalo}}" target="_blank">
				<img src="/static/img/icon_zalo.png" alt="zalo" width="45" height="42" style="height: 42px !important;">
			</a>
        {{end}}
        {{if .setting.Instagram }}
        <a href="{{.setting.Instagram}}" target="_blank">
			<i class="fab fa-instagram" style="font-size: 48px;"></i>
        </a>
        {{end}}
        {{if .setting.Twitter }}
        <a href="{{.setting.Twitter}}" target="_blank">
			<i class="fab fa-twitter" style="font-size: 48px;"></i>
        </a>
        {{end}}
        {{if .setting.Youtube }}
        <a href="{{.setting.Youtube}}" target="_blank">
			<i class="fab fa-youtube" style="font-size: 48px;"></i>
        </a>
        {{end}}
        {{if .setting.Google }}
        <a href="{{.setting.Google}}" target="_blank">
			<i class="fab fa-google" style="font-size: 48px;"></i>
        </a>
        {{end}}
        
    </div>

    <div class="footer-nav">
        <div class="menu-header-container">
            <ul id="footer-menu" class="menu">
				<li class="menu-item"><a href="{{UrlHost}}/{{if eq .Lang "en-US" }}en/{{end}}{{i18n .Lang "menu_about"}}">{{i18n .Lang "about"}}</a>
				</li>
				<li class="menu-item"><a href="{{UrlHost}}/{{if eq .Lang "en-US" }}en/{{end}}{{i18n .Lang "menu_product"}}">{{i18n .Lang "product"}}</a>
				</li>
				<li class="menu-item"><a href="{{UrlHost}}/{{if eq .Lang "en-US" }}en/{{end}}{{i18n .Lang "menu_blog"}}">{{i18n .Lang "blog"}}</a>
				</li>
				<li class="menu-item"><a href="{{UrlHost}}/{{if eq .Lang "en-US" }}en/{{end}}{{i18n .Lang "menu_contact"}}">{{i18n .Lang "contact"}}</a>
				</li>
            </ul>
        </div>
    </div>

	
    <div class="site-info">
        <!-- <a href="https://wordpress.org/">Proudly powered by WordPress</a> -->
		{{if .setting.Footer }}
			{{str2html .setting.Footer}}
        {{end}}

        <!-- Theme: ceres-organics by <a href="http://twentyfour.cc" rel="designer">twentyfour.cc</a>. -->
    </div><!-- .site-info -->
</footer><!-- #colophon -->