<header id="masthead" class="site-header" role="banner">
    <div class="nav-t-wrap">

        <!-- #branding -->
        <div id="branding">
            <a href="{{UrlHost}}">
                <img src="{{UrlHost}}/static/img/setting/{{.logo}}" alt="{{.logo}}">
            </a>
        </div>

        <!-- menu -->
        <nav id="site-navigation" class="main-navigation" role="navigation">
            <div class="menu-header-container">
                <ul id="primary-menu" class="menu">
                    <li class="menu-item"><a href="{{UrlHost}}/{{if eq .Lang "en-US" }}en/{{end}}{{i18n .Lang "menu_about"}}">{{i18n .Lang "about"}}</a>
                    </li>
                    <li class="menu-item menu-item-has-children"><a href="{{UrlHost}}/{{if eq .Lang "en-US" }}en/{{end}}{{i18n .Lang "menu_product"}}">{{i18n .Lang "product"}}</a>
                        {{str2html .category}}
                    </li>
                    <li class="menu-item menu-item-has-children"><a href="{{UrlHost}}/{{if eq .Lang "en-US" }}en/{{end}}{{i18n .Lang "menu_blog"}}">{{i18n .Lang "blog"}}</a>
                        {{str2html .catenews}}
                    </li>
                    <li class="menu-item "><a href="{{UrlHost}}/{{if eq .Lang "en-US" }}en/{{end}}{{i18n .Lang "menu_contact"}}">{{i18n .Lang "contact"}}</a>
                    </li>
                    <li class="menu-item "><a href="{{UrlHost}}/{{if eq .Lang "en-US" }}en/{{end}}{{i18n .Lang "menu_blog"}}{{i18n .Lang "menu_recruitment"}}">{{i18n .Lang "recruitment"}}</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- #site-navigation -->

        <!-- menu mobile-->
        <div class="menu-toggle">
            <a href="javascript:void(0);" rel="nofollow" id="mobile-menu-btn">
                <div id="navbar-corner" class="">
                    <div id="btn-lines"></div>
                </div>
            </a>
            
            <div class="menu-header-container">
                <ul id="sidebar-menu" class="menu">
                    <li class="menu-item"><a href="{{UrlHost}}/{{if eq .Lang "en-US" }}en/{{end}}{{i18n .Lang "menu_about"}}">{{i18n .Lang "about"}}</a>
                    </li>
                    <li class="menu-item"><a href="#">{{i18n .Lang "product"}}</a>
                        {{str2html .category}}
                    </li>
                    <li class="menu-item"><a href="#">{{i18n .Lang "blog"}}</a>
                        {{str2html .catenews}}
                    </li>
                    <li class="menu-item"><a href="{{UrlHost}}/{{if eq .Lang "en-US" }}en/{{end}}{{i18n .Lang "menu_contact"}}">{{i18n .Lang "contact"}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="right-nav-corner">
            <a href="javascript:void(0);" id="search-i"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 26.9 26.4" xml:space="preserve" class="svg replaced-svg">
                <g>
                    <path fill="#9E2429" d="M26.4,23c-1.1-1.6-4.9-3.8-6-4.3c1.6-2,2.6-4.5,2.6-7.2C23,5.2,17.8,0,11.5,0S0,5.2,0,11.5S5.2,23,11.5,23   c2.8,0,5.3-1,7.3-2.6c0.6,1,2.9,4.8,4.9,5.7C26.2,27.3,27.7,25,26.4,23z M11.5,20C6.8,20,3,16.2,3,11.5S6.8,3,11.5,3   S20,6.8,20,11.5S16.2,20,11.5,20z"></path>
                </g>
                </svg>
            </a>
            <a href="{{UrlHost}}" id="lang-vi-VN">
                <img src="{{UrlHost}}/static/img/vi.gif" alt="Vietnam" title="Vietnam">
            </a>
            <a href="{{UrlHost}}/en" id="lang-en-US">
                <img src="{{UrlHost}}/static/img/en.gif" alt="En" title="En-US">
            </a>
        </div>

    </div>

</header>