<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
        <div class="container-fluid full home-grid">
            {{range $post := .data}}
            <div class="row">
                <div class="col-sm-12 lazy" data-original="{{UrlHost}}/static/img/post/{{ $post.Images}}">
                    <div class="css-table">
                        <div class="css-table-cell center middle drop-shadow">
                            <!-- <br class="title-br"> -->
                            {{if ne $post.TitleEN ""}}
                            <h2 style="text-align: center; color: #ffffff;">
                                {{$post.TitleEN}}
                            </h2>
                            {{end}}

                            {{if ne $post.TitleVN ""}}
                            <h2 style="text-align: center; color: #ffffff;">
                                {{$post.TitleVN}}
                            </h2>
                            {{end}}

                            {{if ne $post.AliasVN ""}}
                            <a href="{{UrlHost}}/{{i18n $.Lang "menu_blog"}}/{{$post.AliasVN}}-{{$post.Id}}.html" class="dt-btn dt-btn-m">
                                {{i18n $.Lang "view"}}
                            </a>
                            {{end}}

                            {{if ne $post.AliasEN ""}}
                            <a href="{{UrlHost}}/en/{{i18n $.Lang "menu_blog"}}/{{$post.AliasEN}}-{{$post.Id}}.html" class="dt-btn dt-btn-m">
                                {{i18n $.Lang "view"}}
                            </a>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </main><!-- #main -->
</div><!-- #primary -->