<script src="{{UrlHost}}/static/admin/assets/js/validation.js"></script>
<script>
    ! function (window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation({
            preventSubmit: true
        });
    }(window, document, jQuery);

    // Check username exist
    $(document).ready(function () {
        $("#username").keyup(delay(function (e) {
            var username = $("#username").val().trim();
            var xsrf = $("#_xsrf").val();
            var urlHost = '{{UrlHost}}{{urlfor "UserController.Add"}}';
            console.log(urlHost);
            if (username.length >= 3) {
                $.ajax({
                    url: urlHost,
                    type: 'post',
                    data: {'username':username,'_xsrf':xsrf},
                    success: function (response) {
                        if (response.status) {
                            $("#username_msg").html("Tên người dùng đã được sử dụng");
                        } else {
                            $("#username_msg").empty();
                        }
                    }
                });
            } else {
                // $("#username_msg").hide();
            }
        },1000));

    });
</script>
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="{{UrlHost}}/static/admin/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>