<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

<style>
    tbody {
        color: black;
        font-size: 13px;
    }

    /* table.dataTable tr th.select-checkbox.selected::after {
        content: "✔";
        margin-top: -11px;
        margin-left: -4px;
        text-align: center;
    }

    .select-checkbox sorting_disabled selected {
        color: black;
    } */

    .table thead th {
        vertical-align: top;
    }

</style>