<div class="row">
    <div class="col-12">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Thêm menu</h4>
            </div>
            <div class="card-body">
                <form class="" novalidate="" method="POST" action="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5>Tiêu đề VN <span class="text-danger">*</span></h5>
                                <div class="controls">
                                    <input type="text" name="TitleVN" id="username" class="form-control" 
                                        data-validation-required-message="Không được để trống"
                                        >
                                   <small class="has-danger form-control-label" style="color: red;" id="username_msg">
                                    {{if .errMsg}} 
                                        {{ map_get .errMsg "TitleVN"}} 
                                    {{end}}
                                    </small> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5>Tiêu đề EN <span class="text-danger">*</span></h5>
                                <div class="controls">
                                    <input type="text" name="TitleEN" class="form-control" data-validation-required-message="Không được để trống">
                                    <div class="help-block"></div>
                                    {{if .errMsg}} <small class="has-danger form-control-label" style="color: red;">{{ map_get .errMsg "TitleEN"}} </small> {{end}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group">
                                <h5>Thứ tự</h5>
                                <div class="controls">
                                    <input type="number" name="Sort" class="form-control" min="0" max="100"
                                    value="0"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <h5>Hoạt động</h5>
                                <!-- <fieldset class="controls">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" value="1" name="Active" id="styled_radio1"
                                            class="custom-control-input" checked>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Có</span> </label>
                                    <div class="help-block"></div>
                                </fieldset>
                                <fieldset>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" value="0" name="Active" id="styled_radio2" class="custom-control-input">
                                        <span class="custom-control-indicator"></span> <span class="custom-control-description">Không</span>
                                    </label>
                                </fieldset> -->
                                <div class="switch">
                                    <label>
                                        <input name="Active" type="checkbox" checked><span class="lever switch-col-teal"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <h5>Danh mục menu</h5>
                                <div class="controls">
                                    <select name="ParentID" class="form-control" aria-invalid="false"
                                        data-validation-required-message="Không được để trống">
                                        <option value="0" selected>Chọn danh mục menu</option>
                                        {{range $menu := .menus}}
                                        <option value="{{$menu.Id}}">{{$menu.TitleVN}}</option>
                                        {{end}}
                                    </select>
                                    <div class="help-block"></div>
                                    {{if .errMsg}} <small class="has-danger form-control-label" style="color: red;">{{ map_get .errMsg "ParentID"}} </small> {{end}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" id="cate_product">
                            <div class="form-group">
                                <h5>Danh mục sản phẩm</h5>
                                <div class="controls">
                                    <select name="CateProductID" class="form-control" aria-invalid="false"
                                        data-validation-required-message="Không được để trống">
                                        <option value="0" selected>Chọn danh mục sản phẩm</option>
                                        {{range $cate := .cates}}
                                        <option value="{{$cate.Id}}">{{$cate.TitleVN}}</option>
                                        {{end}}
                                    </select>
                                    <div class="help-block"></div>
                                    {{if .errMsg}} <small class="has-danger form-control-label" style="color: red;">{{ map_get .errMsg "CateProductID"}} </small> {{end}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" id="cate_post">
                            <div class="form-group">
                                <h5>Danh mục bài viết</h5>
                                <div class="controls">
                                    <select name="CateNewsID" id="select_cate_news" class="form-control" aria-invalid="false">
                                        <option value="0" selected>Chọn danh mục bài viết</option>
                                        {{range $post := .posts}}
                                        <option value="{{$post.Id}}">{{$post.TitleVN}}</option>
                                        {{end}}
                                    </select>
                                    <div class="help-block"></div>
                                    {{if .errMsg}} <small class="has-danger form-control-label" style="color: red;">{{ map_get .errMsg "CateNewsID"}} </small> {{end}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" id="div-post">
                            <div class="form-group">
                                <h5>Bài viết</h5>
                                <div class="controls">
                                    <select name="PostID" id="select_post" class="form-control" aria-invalid="false">
                                    </select>
                                    <div class="help-block"></div>
                                    {{if .errMsg}} <small class="has-danger form-control-label" style="color: red;">{{ map_get .errMsg "PostID"}} </small> {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Thêm</button>
                        <button type="reset" class="btn btn-inverse">Hủy</button>
                    </div>
                    <input type="hidden" name="_xsrf" id="_xsrf" value="{{.xsrf_token}}">
                </form>
            </div>
        </div>
    </div>