<script src="{{UrlHost}}/static/admin/assets/js/validation.js"></script>
<!-- wysuhtml5 Plugin JavaScript -->
<script src="{{UrlHost}}/static/admin/assets/lib/tinymce/tinymce.min.js"></script>
<!-- Style switcher -->
<script src="{{UrlHost}}/static/admin/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
<!-- MultiFile -->
<script src="{{UrlHost}}/static/js/jquery.MultiFile.min.js"></script>

<script>
    ! function (window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation({
            preventSubmit: true
        });
    }(window, document, jQuery);

    // Check username exist
    $(document).ready(function () {
        var msg = {{.msg}} ? {{.msg}} : "";
        var msgInfo = {{.msgInfo}} ? {{.msgInfo}} : "";
        var redirect = {{.redirect}} ? {{.redirect}} : "";
        var timer = 1500; // 2s
        if (msg !== "") {
            swal({
                title: msg,
                text: msgInfo,
                timer: timer,
                showConfirmButton: false
            });
            if (redirect !== "") {
                // similar behavior as an HTTP redirect
                setTimeout(function(){ window.location.replace("{{UrlHost}}"+redirect); }, timer);
            }
        }
        var hostName = '{{.hostName}}';
        var controller = '{{UrlHost}}{{urlfor "ImageController.Upload"}}'
        // tinymce
        if ($("#DescriptionVN").length > 0) {
            tinyContent("#DescriptionVN",hostName,controller);
        }
        if ($("#DescriptionEN").length > 0) {
            tinyContent("#DescriptionEN",hostName,controller);
        }
        if ($("#ContentVN").length > 0) {
            tinyContent("#ContentVN",hostName,controller);
        }
        if ($("#ContentEN").length > 0) {
            tinyContent("#ContentEN",hostName,controller);
        }

    });
</script>
