<script src="{{UrlHost}}/static/admin/assets/js/validation.js"></script>
<!-- wysuhtml5 Plugin JavaScript -->
<script src="{{UrlHost}}/static/admin/assets/lib/tinymce/tinymce.min.js"></script>
<!-- Style switcher -->
<script src="{{UrlHost}}/static/admin/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
<!-- MultiFile -->
<script src="{{UrlHost}}/static/js/jquery.MultiFile.min.js"></script>

<script>
    ! function (window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation({
            preventSubmit: true
        });
    }(window, document, jQuery);

    var msg = {{.msg}} ? {{.msg}} : "";
    var msgInfo = {{.msgInfo}} ? {{.msgInfo}} : "";
    var redirect = {{.redirect}} ? {{.redirect}} : "";
    var timer = 1000; // 1s
    if (msg !== "") {
        swal({
            title: msg,
            text: msgInfo,
            timer: timer,
            showConfirmButton: false
        });
        if (redirect !== "") {
            // similar behavior as an HTTP redirect
            setTimeout(function(){ window.location.replace("{{UrlHost}}"+redirect); }, timer);
        }
    }

    var hostName = '{{.hostName}}';
    var controller = '{{UrlHost}}{{urlfor "ImageController.Upload"}}'
    // tinymce
    if ($("#DescriptionVN").length > 0) {
        tinyContent("#DescriptionVN",hostName,controller);
    }
    if ($("#DescriptionEN").length > 0) {
        tinyContent("#DescriptionEN",hostName,controller);
    }
    if ($("#ContentVN").length > 0) {
        tinyContent("#ContentVN",hostName,controller);
    }
    if ($("#ContentEN").length > 0) {
        tinyContent("#ContentEN",hostName,controller);
    }

    $("#Price").inputmask("decimal", {
            placeholder: "0",
            digits: 0,
            digitsOptional: false,
            radixPoint: ",",
            groupSeparator: ".",
            autoGroup: true,
            allowPlus: false,
            allowMinus: false,
            clearMaskOnLostFocus: false,
            removeMaskOnSubmit: true,
            autoUnmask: true,
            // onUnMask: function(maskedValue, unmaskedValue) {
            //     var x = maskedValue.split(',');
            //     return x[0].replace(/\./g, '') + '.' + x[1];
            // }
        });
        $("#SalePrice").inputmask("decimal", {
            placeholder: "0",
            digits: 0,
            digitsOptional: false,
            radixPoint: ",",
            groupSeparator: ".",
            autoGroup: true,
            allowPlus: false,
            allowMinus: false,
            clearMaskOnLostFocus: false,
            removeMaskOnSubmit: true,
            autoUnmask: true,
            // onUnMask: function(maskedValue, unmaskedValue) {
            //     var x = maskedValue.split(',');
            //     return x[0].replace(/\./g, '') + '.' + x[1];
            // }
        });

        for (let i = 0; i <= 6; i++) {
            $('#Remove-Image-'+i).click(function () {
                var xsrf = $("#_xsrf").val();
                var formData = new FormData();
                formData.append('image', 'Image'+i);
                formData.append('id', $('#id').val());
                formData.append('_xsrf',xsrf);
                $.ajax({
                    url : '{{UrlHost}}{{urlfor "ProductController.RemoveImage"}}',
                    type : 'POST',
                    data : formData,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    success : function(response) {
                        if (response.levelMsg !== "") {
                            // show msg
                            showMsg(response.levelMsg,response.msg,response.info);
                            if (response.levelMsg === "success") {
                                $('#Div-Image-'+i).attr("src",'{{UrlHost}}/static/img/no_image.png');
                            }
                        }
                    }
                });
            });
            $('#Upload-Image-'+i).click(function () {
                var xsrf = $("#_xsrf").val();
                var formData = new FormData();
                formData.append('file', $('#Image-'+i)[0].files[0]);
                formData.append('image', 'Image'+i);
                formData.append('id', $('#id').val());
                formData.append('_xsrf',xsrf);
                $.ajax({
                    url : '{{UrlHost}}{{urlfor "ProductController.UploadImage"}}',
                    type : 'POST',
                    data : formData,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    success : function(response) {
                        if (response.levelMsg !== "") {
                            // show msg
                            showMsg(response.levelMsg,response.msg,response.info);
                            if (response.levelMsg === "success") {
                                $('#Div-Image-'+i).attr("src",'{{UrlHost}}/'+response.src);
                            }
                        }
                    }
                });
            });
        }
</script>
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="{{UrlHost}}/static/admin/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>